<header class="header" id="header">
       <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
    <div class="header_img"><img src="/images/WhatsApp Image 2023-10-08 at 18.24.35_2e373880.jpg" alt="img"></div>

</header>